.titulo-home {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.container-home {
  background-color: #c9c6c6;
  width: 100%;
  height: auto;
}

.img2 {
  border: inset 3px rgb(255, 255, 255);
}

@media screen and (max-width: 950px) {
  .img2 {
    display: flex;
    width: 100%;
    height: auto;
    border: inset 2px rgb(255, 255, 255);
  }
}
